<% include ./partials/header %>
<% include ./partials/indexNav %>
<br />

  <div class="titles">
    <h1>Ανακοινώσεις</h1>
  </div>

<div class="ma">
      <div class="content">

      <div class="row ">
        <p><i class="fas fa-chevron-circle-right"></i>
          <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>
        </p>
      </div>
      <div class="row">
        <p><i class="fas fa-chevron-circle-right"></i>
          <b>Sed id est at massa varius accumsan.</b>
        </p>
      </div>
      <div class="row">
        <p><i class="fas fa-chevron-circle-right"></i>
          <b>Nulla rhoncus odio non arcu laoreet lobortis.</b>
        </p>
      </div>
      <div class="row">
        <p><i class="fas fa-chevron-circle-right"></i>
          <b>Quisque feugiat nibh id turpis hendrerit tempor.</b>
        </p>
      </div>

      </div>

      </div>

<% include ./partials/footer %>
